---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278/videos?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7fe7d3f68fa0287f9a3d265d3d2705b6
      X-Memc-Age:
      - '10939'
      X-Memc-Expires:
      - '10661'
      Etag:
      - W/"7cd6f3c34aa48d97b5ce97fedad5d81f"
      Last-Modified:
      - Wed, 14 Oct 2020 23:26:51 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":278,"results":[{"id":"533ec653c3a3685448000249","iso_639_1":"en","iso_3166_1":"US","key":"K_tLp7T6U1c","name":"The
        Shawshank Redemption - Trailer","site":"YouTube","size":480,"type":"Trailer"},{"id":"5604db5ac3a3685c56000ead","iso_639_1":"en","iso_3166_1":"US","key":"9qqfMvKxBa0","name":"Peter
        Fonda on Hope and THE SHAWSHANK REDEMPTION","site":"YouTube","size":360,"type":"Featurette"},{"id":"58f4d4129251413d76023ecf","iso_639_1":"en","iso_3166_1":"US","key":"Kf2kk8T3Z9A","name":"The
        Frank Darabont Collection: Shawshank Redemption - I Liked Andy","site":"YouTube","size":1080,"type":"Clip"},{"id":"58f4d4fd9251413d6e0262fe","iso_639_1":"en","iso_3166_1":"US","key":"mmTSBa6eKl0","name":"The
        Frank Darabont Collection: The Shawshank Redemption - Music","site":"YouTube","size":1080,"type":"Clip"},{"id":"58f4d4c3c3a368085a0228ac","iso_639_1":"en","iso_3166_1":"US","key":"MJPdA2xWfII","name":"The
        Frank Darabont Collection: The Shawshank Redemption - Go There","site":"YouTube","size":1080,"type":"Clip"},{"id":"58f4d47fc3a368081e024ef4","iso_639_1":"en","iso_3166_1":"US","key":"uMwECVb1q54","name":"The
        Shawshank Redemption - Trailer","site":"YouTube","size":480,"type":"Trailer"}]}'
  recorded_at: Thu, 15 Oct 2020 01:26:29 GMT
recorded_with: VCR 6.0.0
