---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_API_KEY>&include_adult=false&language=en-US&page=1&query=shawshank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"total_results":2,"total_pages":1,"results":[{"popularity":38.789,"vote_count":17287,"video":false,"poster_path":"\/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg","id":278,"adult":false,"backdrop_path":"\/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg","original_language":"en","original_title":"The
        Shawshank Redemption","genre_ids":[80,18],"title":"The Shawshank Redemption","vote_average":8.7,"overview":"Framed
        in the 1940s for the double murder of his wife and her lover, upstanding banker
        Andy Dufresne begins a new life at the Shawshank prison, where he puts his
        accounting skills to work for an amoral warden. During his long stretch in
        prison, Dufresne comes to be admired by the other inmates -- including an
        older prisoner named Red -- for his integrity and unquenchable sense of hope.","release_date":"1994-09-23"},{"popularity":1.826,"id":546312,"video":false,"vote_count":12,"vote_average":8.6,"title":"Shawshank:
        The Redeeming Feature","release_date":"2001-09-08","original_language":"en","original_title":"Shawshank:
        The Redeeming Feature","genre_ids":[99],"backdrop_path":"\/u6hgtSIzW8nDKKWmun9JDhZz2fp.jpg","adult":false,"overview":"Film
        critic and presenter Mark Kermode explores the fascination and praise audiences,
        fans and critics have behind the classic The Shawshank Redemption (1994) and
        how its importance grew higher over the years despite being an overlooked
        film when it was released and not getting any Oscars victories when it was
        nominated as one of the Best Pictures of the Year.","poster_path":"\/b7DGM74MRfiLqEveVKwh0jnQ8zX.jpg"}]}'
  recorded_at: Tue, 13 Oct 2020 18:58:23 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_API_KEY>&include_adult=false&language=en-US&page=2&query=shawshank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 0bcab0ec408b6218d3bde3a982d5c64a
    body:
      encoding: UTF-8
      string: '{"page":2,"total_results":2,"total_pages":1,"results":[]}'
  recorded_at: Tue, 13 Oct 2020 18:58:24 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/546312/reviews?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 15a2dc92256c995137be7abb87d67bdc
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2018-09-03 16:47:25 +0000'
    body:
      encoding: UTF-8
      string: '{"id":546312,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 13 Oct 2020 18:58:24 GMT
recorded_with: VCR 6.0.0
